<template>
  <span>
    {{ time }}
  </span>
</template>

<script>
import _ from 'lodash'
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: ''
    },
    status: {
      type: Number,
      default: 0
    },
    driverEta: {
      type: Number,
      default: 0
    }
  },

  data () {
    return {
      startAt: null,
      elapsedTime: 0,
      intervals: {
        second: 1000,
        minute: 1000 * 60,
        hour: 1000 * 60 * 60
      },
      time: '00:00:00',
      orderValue: 1
    }
  },

  watch: {
    value (isActive) {
      if (isActive) {
        this.startAt = new Date()
        this.interval = setInterval(() => {
          this.updateTimer()
        }, 1000)
      }
    },

    status () {
      if ([1, -1].includes(this.status)) {
        clearInterval(this.interval)
      }
    }
  },

  methods: {
    updateTimer () {
      this.$nextTick(async () => {
        const diff = await Math.abs(new Date() - this.startAt.getTime())
        const hours = Math.floor(diff / this.intervals.hour)
        const minutes = Math.floor((diff % this.intervals.hour) / this.intervals.minute)
        const seconds = Math.floor((diff % this.intervals.minute) / this.intervals.second)
        this.time = `${_.padStart(hours.toString(), 2, '0')}:${_.padStart(minutes.toString(), 2, '0')}:${_.padStart(seconds.toString(), 2, '0')}`
        this.elapsedTime = Math.floor(diff / this.intervals.second)
        this.$emit('elapsedSeconds', this.elapsedTime)
      })
    },
  }
}
</script>

<style scoped>

</style>