:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray: #8b8b8b;
  --color-gray-light: #f7f7f7;
  --color-gray-mid: #999999;
  --color-gray-dark: #777777;
  --color-gray-dark-rgb: 119, 119, 119;
  --color-gray-dark-shadow: #444a5785;
  --color-gray-background: #515A6E;
  --color-red: #cc0000;
  --color-anchor: #4183C4;
  --color-primary: #2d8cf0;
  --color-primary-rgb: 45, 140, 240;
  --color-info: #2db7f5;
  --color-success: #19be6b;
  --color-success-rgb: 25, 190, 107;
  --color-warning: #ff9900;
  --color-warning-rgb: 255, 153, 0;
  --color-error: #ed4014;
  --color-error-rgb: 237, 64, 20;
  --color-body-background: #f9f9f9;
  --color-box-shadow: rgba(0, 0, 0, .3);
  --color-border: #dcdee2;
}