@import '~view-design/src/styles/index.less';
@import '../styles/colors.css';

@tabFontColor: var(--color-red);
@borderColor: var(--color-border);

.ivu-layout-header {
  padding: 16px 0;
  color: var(--color-white);
  background-image: url("../assets/header-background.jpg");
  background-repeat: repeat;
  font-weight: bold;
  height: auto;
  line-height: normal;
}

.ivu-layout-content {
  margin: 0 auto;
  padding: 16px 0;
  max-width: 1024px;
  width: 100%;
}

.ivu-layout-footer {
  padding: 16px 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

.ivu-tabs-bar {
  margin-bottom: 0;
}

.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar {
  .ivu-tabs-tab {
    border: 1px solid @borderColor;
    border-bottom: none;
    text-transform: capitalize;
  }

  .ivu-tabs-tab-active {
    color: @tabFontColor;
  }

  .ivu-tabs-nav-container {
    &:focus {
      .ivu-tabs-tab-focused {
        border: 1px solid @borderColor !important;
        border-bottom: none !important;
      }
    }
  }
}

.ivu-tabs {
  .ivu-tabs-tabpane {
    padding: 8px;
  }

  &.ivu-tabs-card {
    .ivu-tabs-tabpane {
      border: 1px solid @borderColor;
      border-top: none;
      background-color: var(--color-white);
    }
  }
}

.ivu-tabs-nav {
  .ivu-tabs-ink-bar {
    background-color: @tabFontColor;
  }

  .ivu-tabs-tab {
    font-weight: bold;
    color: var(--color-gray-mid);

    &:hover {
      color: var(--color-black);
    }
  }

  .ivu-tabs-tab-active {
    color: @tabFontColor;

    &:hover,
    &:active {
      color: @tabFontColor;
    }
  }
}

.orders {
  .ivu-tabs {
    .ivu-tabs-tabpane {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
  }

  .ivu-card {
    margin: 8px;
    width: 312px;

    .ivu-card-head {
      padding: 8px;
      font-weight: bold;
      background-color: var(--color-gray-light);
    }
  }
}
