<template>
  <div class="orders">
    <Tabs
      v-model="tab"
      type="card"
      name="orders"
      :animated="false"
    >
      <TabPane
        tab="orders"
        label="Orders"
        name="orders"
      >
        <div class="order-list">
          <div
            v-for="(order, index) in orders"
            :key="index"
            :value="order"
          >
            <div class="order-card">
              <div
                class="header"
                :class="getClass(order.code)"
              >
                <div class="number">
                  <h1># {{ order.id }}</h1>
                </div>
                <div class="time">
                  <ElapsedTime
                    v-model="order.placed"
                    :name="order.name"
                    :status="order.status"
                    :driver-eta="order.driverETA"
                  />
                </div>
              </div>
              <div
                class="content"
                :class="getClass(order.code)"
              >
                <h2>{{ order.name }}</h2>
                <p>
                  <b>Status:</b> {{ orderStatus(order.code) }}
                </p>
                <p>
                  <b>Temp:</b> {{ order.temp }}
                </p>
                <p>
                  <b>Shelf Life:</b> {{ order.lifeTime }}
                </p>
                <p>
                  <b>Decay Rate:</b> {{ order.decayRate }}
                </p>
                <p>
                  <b>Value:</b> {{ order.value }}
                </p>
                <p v-if="order.driverETA">
                  <b>Driver ETA:</b> {{ order.driverETA }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </TabPane>
      <TabPane
        v-for="(data, shelf) in shelves"
        :key="shelf"
        tab="orders"
        :label="`${shelf} Orders`"
        :name="`${shelf}Orders`"
      >
        <div class="order-list">
          <div
            v-for="(orderData, index) in shelves[shelf].orders"
            :key="index"
          >
            <div class="order-card">
              <div
                class="header"
                :class="getClass(orders[orderData.index].code)"
              >
                <div class="number">
                  <h1># {{ orders[orderData.index].id }}</h1>
                </div>
                <div class="time">
                  <ElapsedTime
                    v-model="orders[orderData.index].placed"
                    :name="orders[orderData.index].name"
                    :status="orders[orderData.index].status"
                    :driver-eta="orders[orderData.index].driverETA"
                    @elapsedSeconds="(orderAge) => updateOrderInfo(orders[orderData.index], orderAge)"
                  />
                </div>
              </div>
              <div
                class="content"
                :class="getClass(orders[orderData.index].code)"
              >
                <h2>{{ orders[orderData.index].name }}</h2>
                <p>
                  <b>Status:</b> {{ orderStatus(orders[orderData.index].code) }}
                </p>
                <p>
                  <b>Temp:</b> {{ orders[orderData.index].temp }}
                </p>
                <p>
                  <b>Shelf Life:</b> {{ orders[orderData.index].lifeTime }}
                </p>
                <p>
                  <b>Decay Rate:</b> {{ orders[orderData.index].decayRate }}
                </p>
                <p>
                  <b>Value:</b> {{ orders[orderData.index].value }}
                </p>
                <p v-if="orders[orderData.index].driverETA">
                  <b>Driver ETA:</b> {{ orders[orderData.index].driverETA }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import { API_URI } from '../constants/uri'
import ElapsedTime from './helpers/ElapsedTime'
import axios from 'axios'
import _ from 'lodash'

export default {
  components: {
    ElapsedTime
  },

  data () {
    return {
      tab: 'hotOrders',
      lastIndex: 0,
      orders: [],
      shelves: {
        hot: {
          capacity: 15,
          orders: []
        },
        cold: {
          capacity: 15,
          orders: []
        },
        frozen: {
          capacity: 15,
          orders: []
        },
        overflow: {
          capacity: 20,
          orders: []
        }
      }
    }
  },

  computed: {
    hotOrders () {
      return this.orders.filter(order => order.temp === 'hot')
    },

    coldOrders () {
      return this.orders.filter(order => order.temp === 'cold')
    },

    frozenOrders () {
      return this.orders.filter(order => order.temp === 'frozen')
    },

    overflowOrders () {
      return this.orders.filter(order => order.temp === 'frozen')
    }
  },

  mounted () {
    this.fetchOrders()
  },

  methods: {
    /**
     * Translate a given time in seconds to a string in format hh:mm:ss.
     * @param {Number} secs
     * @return {String}
     */
    secondsToTime (secs) {
      const hours = Math.floor(secs / 3600)
      const minutes = Math.floor((secs % 3600) / 60)
      const seconds = Math.floor(secs % 60)
      return `${_.padStart(hours.toString(), 2, '0')}:${_.padStart(minutes.toString(), 2, '0')}:${_.padStart(seconds.toString(), 2, '0')}`
    },

    /**
     * Defines the order class to identify its status based on the order code:
     * Code:
     *   -1: Order Ready (cooked)
     *    0: Order Placed into a shelf.
     *    1: Order Picked-Up by the Driver.
     *    2: Order not picked up yet with a Value lower than 20.
     *    3: Order not picked up yet with a Value lower than 10.
     *    4: Order never picked up within its shelf life.
     * @param {Number} code
     * @return {String} Order Class (CSS)
     */
    getClass (code) {
      return code === 4 ? 'waste'
        : code === 3 ? 'danger'
        : code === 2 ? 'warning'
        : code === 1 ? 'picked-up'
        : code === 0 ? 'placed'
        : ''
    },

    /**
     * Fetches the orders from the server.
     */
    async fetchOrders () {
      // Create a const to fetch all NEW orders.
      const newOrders = (await axios.get(API_URI + '/orders')).data
        .filter(order => !order.status)
        .map(order => {
          this.lastIndex++
          order.id = this.lastIndex
          order.placed = false
          order.status = 0
          order.value = null
          order.code = this.getCode(order.value, order.status)
          order.lifeTime = this.secondsToTime(order.shelfLife)
          return order
        })

      // Push the new orders into the orders array.
      newOrders.forEach(order => {
        this.orders.push(order)
      })

      this.orders.forEach((order, index) => {
        /**
         * If there's available space into the proper shelf (according with the order temp), place the order into it.
         * Otherwise, if there's available space into the "Overflow" shelf, place the order into it.
         */
        this.$nextTick(() => {
          if (this.shelves[order.temp].orders.length < this.shelves[order.temp].capacity) {
            this.placeOrderIntoShelf(order, index)
          } else if (this.shelves.overflow.orders.length < this.shelves.overflow.capacity) {
            this.placeOrderIntoShelf(order, index, true)
          }
        })
      })
    },

    /**
     * Defines the order code according with the order value or the status.
     * @param {Number} value
     * @param {Number} status
     * @return {Number} Order Code
     */
    getCode (value, status) {
      // If the order has been picked up, then return code 1 (Picked Up).
      if (status === 1 ) {
        return 1
      }

      /**
       * If the order value is:
       *   - Higher than 20, then return code 0 (Placed)
       *   - Higher than 10 but lower than 20, then return code 2 (Warning)
       *   - Higher than 0 but lower than 10, then return code 3 (Danger)
       *   - Lower than 0, then return code 4 (Waste)
       *   - NULL, then return code -1 (Ready to be placed into a shelf)
       */
      return value > 20 ? 0
        : value > 10 ? 2
        : value > 0 ? 3
        : value <= 0 ? 4
        : -1
    },

    /**
     * Returns the order status.
     * @param {Number} code
     * @return {String} Order Status
     */
    orderStatus (code) {
      return  _.capitalize(_.lowerCase(this.getClass(code)))
    },

    /**
     * Places an order into a shelf.
     * @param {Object} order
     * @param {Boolean} isOverflow
     */
    placeOrderIntoShelf (order, index, isOverflow = false) {
      const shelf = !isOverflow ? order.temp : 'overflow'
      this.shelves[shelf].orders.push({
        index,
        orderId: order.id,
        temp: order.temp
      })

      this.$nextTick(() => {
        this.$set(order, 'code', 0)
        this.$set(order, 'placed', true)

        if (!isOverflow) {
          this.$set(order, 'driverETA', _.random(2, 10))
        } else {
          this.$set(order, 'decayRate', order.decayRate * 2)
        }
      })
    },

    /**
     * Checks if there's any order from the given temperature into the overflow shelf.
     */
    findTempOrderInOverflow (temp) {
      // Get the index of the next order on overflow shelf that matches with the given temperature.
      const overflowTempOrderIndex = this.shelves.overflow.orders.findIndex(order => order.temp === temp)
      let tempOrder = {}

      // If there's any pending order on overflow shelf that matches with the given temperature, then get the info of that order.
      if (overflowTempOrderIndex >= 0) {
        tempOrder = this.shelves.overflow.orders[overflowTempOrderIndex]

        // Add the driver ETA for the order.
        this.$set(this.orders[tempOrder.index], 'driverETA', _.random(2, 10))

        // Remove the order from the overflow shelf.
        this.shelves.overflow.orders.splice(overflowTempOrderIndex, 1)
      }

      // Look for any pending order in orders array.
      const pendingOrderIndex = this.orders.findIndex(order => !order.placed)

      // Fetch the next pending order if there's any.
      if (pendingOrderIndex >= 0) {
        const pendingOrder = this.orders[pendingOrderIndex]
        const isOverflow = !_.isEmpty(tempOrder)

        if ((_.isEmpty(tempOrder) && pendingOrder.temp === temp) || isOverflow) {
          this.placeOrderIntoShelf(pendingOrder, pendingOrderIndex, isOverflow)
        }
      }

      return tempOrder
    },

    /**
     * Updates the order value according with its elapsed time (order age).
     * @param {Object} order
     * @param {Number} orderAge
     */
    updateOrderInfo (order, orderAge) {
      const value = order.shelfLife - orderAge - order.decayRate * orderAge
      const status = !order.driverETA || orderAge < order.driverETA
        ? (value > 0 ? 0 : -1)
        : 1
      const newCode = this.getCode(value, status)

      this.$nextTick(() => {
        this.$set(order, 'value', value)
        this.$set(order, 'status', status)
        this.$set(order, 'code', newCode)

        // If the order has been picked up or if it was a waste, then remove it from the shelf.
        if ([1, -1].includes(newCode)) {
          const shelfIndex = this.shelves[order.temp].orders.findIndex(tempOrder => tempOrder.orderId === order.id)
          this.shelves[order.temp].orders.splice(shelfIndex, 1)
          const newOrder = this.findTempOrderInOverflow(order.temp)

          if (!_.isEmpty(newOrder)) {
            this.shelves[order.temp].orders.push(newOrder)
          }
        }
      })
    }
  }
}
</script>

<style scoped>
  .order-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: auto;
    width: 100%;
  }

  .order-card {
    margin: 8px;
    width: 312px;
  }

  .order-card h1 {
    font-size: 18px;
  }

  .order-card h2 {
    font-size: 16px;
    font-style: italic;
  }

  .order-card .header {
    padding: 8px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    color: var(--color-white);
    background-color: var(--color-gray-dark);
  }

  .order-card .header.placed {
    background-color: var(--color-primary);
  }

  .order-card .header.warning {
    background-color: var(--color-warning);
  }

  .order-card .header.danger {
    background-color: var(--color-error);
  }

  .order-card .header.picked-up {
    background-color: var(--color-success);
  }

  .order-card .header.waste {
    background-color: var(--color-black);
  }

  .order-card .header .number {
    margin: 0;
    padding: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .order-card .header .time {
    margin: 0;
    padding: 0;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .order-card .content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    border-radius: 0 0 4px 4px;
    color: var(--color-black);
    background-color: rgba(var(--color-gray-dark-rgb), .3);
  }

  .order-card .content.placed {
    background-color: rgba(var(--color-primary-rgb), .3);
  }

  .order-card .content.warning {
    background-color: rgba(var(--color-warning-rgb), .3);
  }

  .order-card .content.danger {
    background-color: rgba(var(--color-error-rgb), .3);
  }

  .order-card .content.picked-up {
    background-color: rgba(var(--color-success-rgb), .3);
  }

  .order-card .content.waste {
    background-color: rgba(var(--color-black-rgb), .3);
  }

  .order-card .content p {
    text-transform: capitalize;
  }

  .order-timer-shelves {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 660px);
  }

  .action {
    cursor: pointer;
  }
</style>