<template>
  <div id="app">
    <Layout class="layout">
      <Header>
        <div class="content">
          COTO Kitchen
        </div>
      </Header>
      <Content>
        <router-view />
      </Content>
      <Footer>
        <div class="content">
          @ 2020 By Fernando Colon
          <font-awesome-icon :icon="['fab', 'facebook']" />
        </div>
      </Footer>
    </Layout>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body {
  margin: 0;
}

#app {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-body-background);
}

.layout {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
</style>
